/* todo pc */
@media screen and (min-width: 992px) {
  /* ! header */
  .header .toggle-menu {
    display: none;
  }

  .responsive-menu {
    display: none;
  }
}

/* todo tablet & mobile */
@media screen and (max-width: 991px) {
  /* ! header */
  .header .navbar {
    position: relative;
  }

  .header .toggle-menu svg {
    color: #0f1b4c;
  }

  .header .navbar .nav-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header .navbar .nav-menu {
    display: none;
  }

  .responsive-menu .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .responsive-menu .checkbox-menu:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }

  .responsive-menu .menu-drawer {
    padding-top: 40px;
    padding-left: 40px;
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  .responsive-menu .menu-drawer .nav-menu a {
    display: inline-block;
    margin-top: 40px;
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .responsive-menu .checkbox-menu:checked ~ .menu-drawer {
    transform: translateX(0);
  }
}

/* todo tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* ! header */
  .hidden-tablet {
    display: none;
  }
}

/* todo mobile */
@media screen and (max-width: 767px) {
  /* ! header */
  .header .nav-cta {
    display: none;
  }

  .responsive-menu .nav-cta {
    color: #0f1b4c;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .responsive-menu .nav-menu .seperate {
    margin-top: 20px;
    position: relative;
  }

  .responsive-menu .nav-menu .seperate::before {
    display: inline-block;
    content: '';
    width: 40%;
    height: 1px;
    border-radius: 1px;
    background: #0f1b4c;
    position: absolute;
    top: 10px;
  }
}
