* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #0f1b4c;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  transition: opacity 300ms;
}

.btn:hover {
  opacity: 0.7;
}

#header {
  padding-top: 38px;
  background-color: #e6f0ff;
}

#header .navbar {
  display: flex;
  align-items: center;
}

.navbar .menu {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 64px;
}

.navbar .menu a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 3px 7px;
  transition: all 300ms;
}

.navbar .menu a:hover,
.sign-in:hover {
  background-color: rgba(169, 177, 212, 0.6);
  border-radius: 5px;
}

.nav-btn {
  margin-left: auto;
}

.sign-in {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 3px 7px;
  transition: all 300ms;
}

.signup-btn {
  margin-left: 11px;
  font-size: 1.4rem;
  padding: 13px 22px 13px 23px;
  border-radius: 12px;
}

#header .content {
  margin-top: 39px;
  display: flex;
  gap: 67px;
}

.header-content .sub-title {
  margin-top: 91px;
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.header-content .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 76px;
}

.header-content .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 32px;
}

.header-btn {
  margin-top: 40px;
  padding: 13px 37px 14px 38px;
}

.header-media {
  margin-right: -100px;
}

#client {
  margin-top: 79px;
  margin-bottom: 40px;
}

#client .main {
  padding-top: 43px;
  padding-bottom: 41px;
}

#client .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

#client .row:first-child {
  margin-bottom: 23px;
}

#client .row span {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 20px;
}

.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo .logo {
  padding: 32px 0 32px 0;
  flex: 1;
  text-align: center;
  transition: box-shadow 300ms;
}

.client-logo .logo:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
