* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #0f1b4c;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  transition: opacity 300ms;
}

.btn:hover {
  opacity: 0.7;
}

#header {
  padding-top: 38px;
  background-color: #e6f0ff;
}

#header .navbar {
  display: flex;
  align-items: center;
}

.navbar .menu {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 64px;
}

.navbar .menu a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 3px 7px;
  transition: all 300ms;
}

.navbar .menu a:hover,
.sign-in:hover,
.footer-link a:hover {
  background-color: rgba(169, 177, 212, 0.6);
  border-radius: 5px;
}

.nav-btn {
  margin-left: auto;
}

.sign-in {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 3px 7px;
  transition: all 300ms;
}

.signup-btn {
  margin-left: 11px;
  font-size: 1.4rem;
  padding: 13px 22px 13px 23px;
  border-radius: 12px;
}

#header .content {
  margin-top: 39px;
  display: flex;
  gap: 67px;
}

.header-content .sub-title {
  margin-top: 91px;
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.header-content .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 76px;
}

.header-content .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 32px;
}

.header-btn {
  margin-top: 40px;
  padding: 13px 37px 14px 38px;
}

.header-media {
  margin-right: -100px;
}

#client {
  margin-top: 79px;
  margin-bottom: 40px;
}

#client .main {
  padding-top: 43px;
  padding-bottom: 41px;
}

#client .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

#client .row:first-child {
  margin-bottom: 23px;
}

#client .row span {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 20px;
}

.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo .logo {
  padding: 32px 0 32px 0;
  flex: 1;
  text-align: center;
  transition: box-shadow 300ms;
}

.client-logo .logo:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#guide .main {
  padding-top: 79px;
  padding-bottom: 79px;
  width: 685px;
}

#guide .sub-title {
  margin-top: 1.4rem;
  text-align: center;
  color: #000339;
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
  position: relative;
}

#guide .sub-title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background-color: #000339;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

#guide .desc {
  margin: 20px auto 70px;
  width: 459px;
  color: #5a6473;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.list-guide {
  margin-bottom: 48px;
  display: flex;
  gap: 140px;
}

.list-guide .item {
  text-align: center;
}

.list-guide .title {
  margin-top: 26px;
  margin-bottom: 10px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
}

.list-guide .link {
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}

.list-guide .item:hover .arrow {
  animation-name: move;
  animation-duration: 1s;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

.guide-cta {
  text-align: center;
}

.guide-btn {
  padding: 18px 25px 19px;
}

#featured {
  margin-top: 41px;
  margin-bottom: 75px;
  background-color: #f5fafe;
}

#featured .main {
  padding-top: 110px;
  padding-bottom: 110px;
}

#featured .sub-title {
  margin-bottom: 15px;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 35px;
}

#featured .row {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#featured .row span {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
}

#featured .row .link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

#featured .row .link:hover .arrow {
  animation-name: move;
  animation-duration: 1s;
}

.list-featured {
  display: flex;
  gap: 30px;
}

.list-featured .item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}

.list-featured .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.list-featured .body {
  padding: 17px 20px 24px;
}

.list-featured .title {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 20px;
}

.list-featured .desc {
  margin-top: 11px;
  margin-bottom: 22px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
}

.list-featured .info {
  display: flex;
  align-items: center;
}

.list-featured .label {
  margin-left: 8px;
  margin-right: 22px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.01em;
  white-space: nowrap;
}

#stat .main {
  width: 1017px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#stat .content {
  display: flex;
  gap: 165px;
}

.stat-media {
  position: relative;
}

#stat .thumb {
  margin-left: 120px;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stat-content .sub-title {
  width: 269px;
  margin-top: 79px;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 45px;
  position: relative;
}

.stat-content .sub-title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background-color: #000339;
  position: absolute;
  top: -10px;
  left: 0;
}

.stat-content .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
}

.stat-card {
  width: 239px;
  height: 252px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0;
}

.stat-card .body {
  padding: 45px 22px 40px;
}

.stat-card .row {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-card .title strong {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.01em;
}

.stat-card .title {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
}

.stat-card .desc {
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 18px;
  position: relative;
}

.stat-card .desc::after {
  content: "";
  display: inline-block;
  width: 194px;
  height: 1.2px;
  background-color: #e9e9e9;
  position: absolute;
  left: 0;
  bottom: -25px;
}

.avatar-block {
  margin-top: 52.5px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.avatar-block .group {
  display: flex;
}

.avatar-block .avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: -5px;
}

.avatar-block .group .avatar:first-child {
  margin-left: 0;
}

.avatar-block .avatar-text {
  display: inline-block;
  background-color: var(--bg-color);
  color: #fff;
  text-align: center;
  line-height: 16px;
  font-size: 0.8rem;
}

.stat-quantity {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.stat-quantity .quantity {
  margin-bottom: 22px;
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 64px;
}

.stat-quantity .label {
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}

#subscribe {
  margin-top: 51px;
  margin-bottom: 55px;
}

#subscribe .main {
  margin-top: 90px;
  width: 1110px;
  height: 370px;
  border-radius: 20px;
  background-color: #063183;
  position: relative;
}

#subscribe .content {
  padding-top: 149px;
  padding-left: 80px;
}

#subscribe .content .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 35px;
}

#subscribe .content .desc {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
}

.subscribe-btn {
  padding: 18px 43px 19px;
  background-color: #fff;
  color: #002366;
}

#subscribe .thumb {
  position: absolute;
  bottom: 0;
  right: 221px;
}

#footer .main {
  padding-top: 50px;
  padding-bottom: 58px;
}

.footer-link {
  display: flex;
  gap: 185px;
}

.footer-link .col-title {
  margin-bottom: 42px;
  color: #1c1c1d;
  font-family: "Lato";
  font-size: 2rem;
  font-weight: 700;
}

.footer-link li {
  margin-bottom: 15px;
}

.footer-link a {
  padding: 3px 7px;
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
  transition: background-color 300ms;
}

.footer-link .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
}

.social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icon {
  text-align: center;
  line-height: 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.copyright {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.copyright p {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
